html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}


.navtainer {
  width: 90%;
  margin: 0 auto;
  position:sticky;
  letter-spacing:2px;
}

header{
  background: #c1e5f0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  
  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#header {
  margin-top: 80px;
  text-align:center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-bottom: 30px;
  color: #444;
}

#rectangle {
  height: 5px;
  width: 100px;
  background-color: #c1e5f0;
  margin: auto;
}

.container{
  width:960px;
  margin: 0 auto;
  padding-top: 70px;
}

#thumbnail img {
  width: 350px;
  display: block;
  float:left;
  padding-top: 10px;
  border-radius: 50%;
}


#description {
  padding-left: 450px;
  width: 500px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #444;
}

#conclusion {
  padding-left: 450px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
  color: #444;
  
  margin-bottom: 30px;
}

a {
  color: #4595AE;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
  cursor: pointer;
}

a.par {
  color: #444;
  font-size: 15px;
  text-decoration: none;
}

a.par:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration:none;
}