html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
/*   background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/29571041_10204584972419543_6524322479799874756_n.jpg?_nc_cat=109&_nc_ht=scontent-lax3-2.xx&oh=51ac1b8c1e33b764ea7c274e7ae619f5&oe=5C42A513"); */
  background-position: center;
  background-size: cover;
  background-color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

.container{
  width:600px;
  margin: 0 auto;
  padding-top: 50px;
}

.navtainer {
  width: 90%;
  margin: 0 auto;
  position:sticky;
  letter-spacing:2px;
}

header{
  background: #c1e5f0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  
  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


#header {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #444;
  
  background-color: #F2F2F2;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  opacity: 0.9;
  padding: 15px 5px;
  width: 400px;
}

#subheader {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #444;
  
  background-color: #F2F2F2;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  opacity: 0.9;
  padding: 20px 10px;
  width: 600px;
}


.button1 {
  border-radius: 20px;
  background-color: #c1e5f0;
  border: none;
  color: #444;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 120px;
  float:left;
  opacity: 1;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover {
  background: #B5D6E0;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

#container2 {
  width:100%;
  margin-bottom: 50px;
}

#resume {
  font-size: 20px;
  float: left;
  width: 100px;
}

#linkedin {
  font-size: 20px;
  float: right;
  width: 100px;
}

#email {
  font-size: 20px;
  margin: 0 auto;
  width: 100px;
}


a.par {
  color: #444;
  font-size: 15px;
  text-decoration: none;
}

a.par:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}