body {
  font-family: 'PT Sans', sans-serif;
  background-color: #F2F2F2;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

.container{
  width:960px;
  margin: 0 auto;
  padding-top: 50px;
}

.navtainer {
  width: 90%;
  margin: 0 auto;
  position:sticky;
  letter-spacing:2px;
}

header{
  background: #c1e5f0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  
  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


#header {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
}
