body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
}

.navtainer {
  width: 90%;
  margin: 0 auto;
  position:sticky;
  letter-spacing:2px;
}

header{
  background: #c1e5f0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  
  position: absolute;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.container{
  width:600px;
  margin: 0 auto;
  padding-top: 70px;
}

#header {
  text-align:center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-bottom: 30px;
  color: #444;
}

#rectangle {
  height: 5px;
  width: 100px;
  background-color: #c1e5f0;
  margin: auto;
}

#qooley {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #444;
  
  background-color: #F2F2F2;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  opacity: 0.9;
  padding: 20px 10px;
  width: 600px;
}
